*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

ul, ol, menu, li{
    list-style-type: none;
    display: flex;
    padding: 0;
    padding-left: 10px;
    margin: 0;

}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


/* ----- CONTAINER ----- */

.container__big{
    width: 65%;
    margin: 0 auto;
}

.container{
    width: 55%;
    margin: 0 auto;
}

/* -----  BUTTON ----- */

.button{
    border: none;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
}

.button__blue{
    background-color: dodgerblue;
    color: white;
}

.button__cta{
    color: black;
    padding: 5px;
}

.button__cta-b{
    color: white;
    padding: 5px;
}

/* ----- NAV ----- */
.nav{
    background-color: white;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.nav__logo{
    padding-left: 20px;
}

.nav__first{
    flex-grow: 1;
}

.nav__second{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav__cta{
    font-weight: 300;
    color: black;
}


/* ----- HERO ----- */

#hero__bg{
    background-color: #B4D0E7;
    max-height: 100%;
    margin-top: 40px;
}

.hero__title__container{
   padding-top: 30px; 
}

.hero__title{
    text-align: left;
    font-size: 48px;
    font-weight: 700;
}

.generic__p{
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 10px;
}

.arrow{
    font-size: 25px;
}

.hero__image{
    display: flex;
    position: relative;
    top: 15%;
}

.hero__description{
    display: flex;
}

.img__abs{
    position: relative;
}

/* ----- BUSINESS ----- */

#business{
    background-color: white;
    max-height: 100%;
}

.business__title{
    padding-top: 100px;
    font-size: 20px;
    text-align: left;
    padding-bottom: 50px;
}

.round{
    display: flex;
    gap: 50px;
}

/* ----- CARDS ----- */

.card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: flex-start;
}

.col-4{
    
    height: 100%;
    border: 1px solid grey;
    width: calc((100% - 60px) / 3);
    margin-right: 20px;
}

.col-4-header{
    text-align: center;
    border-bottom: 1px solid grey;
}

.col-4-content{
    padding-top: 20px;
    padding-left: 20px;
}

.prezzo{
    font-size: 12px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.business__p{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.tariffa{
    font-size: 12px;
    color: grey;
    font-weight: 300;
    padding-bottom: 20px;
}

.business__list{
    display: block;
    list-style: none;
    text-align: left;
    margin-left: -20px;
}

.prova{
    padding-top: 30px;
    padding-bottom: 30px;
}

.col-4-footer{
    display: block;
    padding-left: 20px;
    height: 400px;
}

hr{
    width: 20px;
    margin-bottom: 30px;
}

i{
    padding-right: 20px;
}

.check{
    color: dodgerblue;
}

.col-w{
    width: calc(100% - 18px);
    height: 100%;
    margin-top: 50px;
    border: 1px solid grey;
}

.col-w-header{
    text-align: center;
    border-bottom: 1px solid grey;
}

.content__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

.content__main{
    padding-top: 40px;
    padding-left: 20px;
    max-width: 70%;
    margin-bottom: 20px;
}

/* ----- PARTNER ----- */
.partner{
    width: 100%;
    margin-top: 100px;
}

.col-partner{
    max-width: 50%;
}

.col-partner-descr{
    padding-top: 30px;
    padding-left: 30px;
}

.row{
    display: flex;
    justify-content: space-around;
}

.button__border{
    border: 1px solid black;
    line-height: 50%;
}

.partner__p{
    font-size: 8px;
}