*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

ul, ol, menu, li{
    list-style-type: none;
    display: flex;
    padding-left: 10px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


/* ----- CONTAINER ----- */

.container__big{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start
}

/* -----  BUTTON ----- */

.button{
    border: none;
    height: 30px;
    margin-right: 10px;
    background-color: white;
}

.button__blue{
    background-color: dodgerblue;
    color: white;
}

.button__cta{
    color: black;
    padding: 5px;
}

.button__cta-b{
    color: white;
    padding: 5px;
}

/* ----- NAV ----- */
.nav{
    background-color: white;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav__logo{
    padding-left: 20px;
}

.nav__first{
    flex-grow: 1;
}

.nav__second{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav__cta{
    font-weight: 300;
    color: black;
}


/* ----- HERO ----- */

#hero__bg{
    background-color: #B4D0E7;
    height: 420px;
    margin-top: 40px;
}

.hero__title__container{
   padding-top: 30px; 
}

.hero__title{
    text-align: left;
    font-size: 48px;
    font-weight: 700;
}

.hero__main{
    width: 250px;
}

.generic__p{
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.arrow{
    font-size: 25px;
}

.hero__image{
    width: 460px;
    height: 260px;
}