*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

ul, ol, menu, li{
    list-style-type: none;
    display: flex;
    padding-left: 10px;
}

a{
    text-decoration: none;
}

/* ----- CONTAINER ----- */

.container__big{
    width: 1200px;
    margin: 0 auto;
}

/* -----  BUTTON ----- */

.button{
    border: none;
    width: 70px;
    height: 30px;
    padding-top: 5;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: white;
}

.button__blue{
    background-color: dodgerblue;
    color: white;
}

.button__cta{
    color: black;
}

.button__cta-b{
    color: white;
}

/* ----- NAV ----- */
.nav{
    background-color: white;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav__logo{
    padding-left: 20px;
}

.nav__first{
    flex-grow: 1;
}

.nav__second{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav__cta{
    font-weight: 300;
    color: black;
}


/* ----- HERO ----- */

#hero__bg{
    background-color: #B4D0E7;
    height: 420px;
    margin-top: 40px;
    
}
